.carrito {
    display: flex;
    align-items: center;

    &--cantidad {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(254, 83, 83);
        color: white;
        width: 22px;
        height: 26px;
        font-size: 20px;
        border-radius: 4px;
        padding: 0 4px;
        user-select: none;
    }

    &--icono {
        height: 36px;
        opacity: 0.7;
        cursor: pointer;
    }
}
